<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>api测试地址</title>
    <style type="text/css">
     .upload-button {

     }

     .upload-box {
       display: none;
     }

     .upload-info {
       display: none;
     }

     .upload-box label {
       width: 50px;
       display: inline-block;
     }

   </style>
  </head>
  <body>
    <h1>文件上传</h1>
    <button class="upload-button" id="showUpload">点击上传</button>
    <div class="upload-box" id="fileUploadFrom">
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/><br/>
      <label for="file">File</label>
      <input type="file" name="file" id="file"/><br/>
      <button id="upload">Upload</button>
    </div>
    <div class="upload-info">
      <progress value="0" max="100"></progress>
      <span class="progress-value">0</span>
    </div>
  </body>
<script src="/public/javascripts/jquery-1.8.3.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

  $('#showUpload').on('click', function(e) {
    $('.upload-box').show(300);
  });

  $('#upload').on('click', function(e) {
    var data = {};
    // data.content = "这个是新的文章内容哦5666999";  
    data.title = "收藏文章的标题";  
    data.articleId = "59c0e2e2e452f221ac998da1";
    data.authorId = "59c0e21cc33cb9048058ecee";
    // data.userName = "123";
    // data.email = "1009140297@qq.com";
    // data.password = "123";
    // replyId = 59c22a7fb565b717a0cf924a
    // replyerId = 59c0e21cc33cb9048058ecee
    // 59bfdd305b2b682ab820448a  articleId
    $.ajax({
      url: "/getTopicList",
      // url: "/delComment?replyId=59c22a7fb565b717a0cf924a&replyerId=59c0e21cc33cb9048058ecee",
      // url: "/updateArticle",
      // url: "/getArticleDetail?articleId=59c0e2e2e452f221ac998da1",
      // url: "/hadCollect?articleId=59c0e2e2e452f221ac998da1",
      // url: "/unCollect?articleId=59c0e2e2e452f221ac998da1",
      // url: "/addCollect",
      // url: "/delArticleById",
      // data: data,
      // type: 'post',
      type: 'get',
      dataType:'json',
      success: function(res) {
        console.log(res);
      },
      error: function(err) {
        console.log('error');
      }
    })
  });
  
});
</script>
</html>
