@import 'common';

.container-login-register {
	width: 400px;
    margin: 120px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    .login-tab {
    	display: flex;
    	text-align: center;
    	font-size: $fs-large;
    	margin-bottom: $space-normal;
		a {
    		color: #969696;
    		display: block;
    		text-decoration: none;
    	}     	
    	li {
    	   flex: 1;
    	   padding-bottom: 5px;
    	   border-bottom: 2px solid #fff;
    	   &.active {
    	   	  border-color: #ea6f5a;
    	   	  a {
    	   	  	color: #ea6f5a;;
    	   	  }
    	   }
    	}
		   	

    }
    input {
    	width: 100%;
	    height: 50px;
	    margin-bottom: 0;
	    padding: 4px 12px 4px 35px;
	    border: 1px solid #c8c8c8;
	    border-radius: 0 0 4px 4px;
	    background-color: hsla(0,0%,71%,.1);
	    vertical-align: middle;
	    margin-bottom: $space-normal;
    }
    .login-btn {
		width: 100%;
	    padding: 9px 18px;
	    font-size: 18px;
	    border: none;
	    border-radius: 25px;
	    color: #fff;
	    background: #42c02e;
	    cursor: pointer;
	    display: block;
	    text-align: center;
	    text-decoration: none;  	
    }
    .register-success {
        text-align: center;
        p {
            padding: 12px;
            color: red;
        }
        a {
            display: block;
        }
    }
        
}