<% if(bannerAds && bannerAds.length > 0) { %>

  <div id="g-banner" class="carousel slide g-banner" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% bannerAds.forEach(function (ads,index) { %>
        <li data-target="#g-banner" data-slide-to="<%= index %>" <% if (index == 0) { %> class="active" <% } %> ></li>
      <% }) %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% bannerAds.forEach(function (ads,index) { %>
        <div class="item <% if (index == 0) { %> active <% } %>" >
          <a href="<%= ads.link %>" target="_blank" >
            <img src="/img/ad/<%= ads.pic %>" alt="<%= ads.desc %>">
          </a>
        </div>
      <% }) %>
    </div>
    
    <!-- Controls -->
    <!--  <a class="left carousel-control" href="#g-banner" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#g-banner" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
<% } %>
