@import "common";

.container-main {
  width: $containerW;
  margin:0 auto;
  font-family: "微软雅黑";
  background: $bg-content;
  overflow: hidden;
  .banner-container {
    width: $containerW;
    height: 270px;
    overflow: hidden;
  }
  .container {
    width: 100%;
    display: flex;
  }
  .container-left {
    flex: 1;
  }
  .container-right {
    width: 320px;
  }
  .list-item {
    padding:$space-normal 0;
    @include border-bottom; 
    display: flex;
    overflow: hidden;
    text-align: left;
    font-weight: normal;
  }
  .col-left {
    flex: 1;
  }
  .col-right {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: $space-normal;
  }
  .author-pic {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 5px;
    img {
      width: 32px;
      height: 32px;
    }
  }
  .author-name,
  .create-time {
    font-size: $fs-small;
    color: $color-gray;
    margin-left: 5px;
    vertical-align: middle;
  }
  .author-name {
    color: $color-primary;
  }
  .title {
    font-size: $fs-large;
    color: $color-gray;
    padding:$space-small 0;
    display: block;
  }
  .category {
    font-size: $fs-normal;
    color:$color-primary;
  }
  .iconfont {
    width: 20px;
    height: 12px;
    display: inline-block;
  }
  .icon-comments {
    background: url('../images/comment.4d5744f.svg') no-repeat left center;
  }
  .icon-like {
    background: url('../images/like.4bf00fb.svg') no-repeat left center;
  } 
  .icon-read {
    background: url('../images/read.png') no-repeat -3px center;
    background-size: 20px 10px;
  }  
  .list-bottom {
    padding-top: $space-normal;
    a {
      color: #b2bacd;
      margin-right: 10px;
      text-decoration: none;
    }
  }
  .load-more {
    overflow: hidden;
    text-align: center;
  }
  .more-btn {
    padding: 5px 10px;
    color: #1d1d1d;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    background: #ccc;
  }  
 
}

.container-leftBar {
  margin: $space-normal 0 $space-normal $space-normal;
  padding: $space-normal;
  min-height: 500px;
  .ad-list {
    overflow: hidden;
  }
  .img-wrap {
    width: 240px;
    height: 200px;
    margin-bottom: 10px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .hot-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .hot-list {
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 5px;
  }
  .hot-list a {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding-bottom: 10px; 
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}



